# Про Pandas

In [61]:
import os
import pandas as pd
import numpy as np

pizza = pd.read_csv(os.path.join('data','Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv'))

In [7]:
pizza.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [3]:
# Первые строчки таблицы

In [8]:
# Информация о таблице
pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  object
 1   dateAdded           10000 non-null  object
 2   dateUpdated         10000 non-null  object
 3   address             10000 non-null  object
 4   categories          10000 non-null  object
 5   primaryCategories   10000 non-null  object
 6   city                10000 non-null  object
 7   country             10000 non-null  object
 8   keys                10000 non-null  object
 9   latitude            10000 non-null  float64
 10  longitude           10000 non-null  float64
 11  menuPageURL         1679 non-null   object
 12  menus.amountMax     10000 non-null  float64
 13  menus.amountMin     10000 non-null  float64
 14  menus.currency      10000 non-null  object
 15  menus.dateSeen      10000 non-null  object
 16  menus.description   3718 non-null   object
 17  menus.name          10000 non-null  object
 18  name                10000 non-null  object
 19  postalCode          9996 non-null   object
 20  priceRangeCurrency  10000 non-null  object
 21  priceRangeMin       10000 non-null  int64
 22  priceRangeMax       10000 non-null  int64
 23  province            10000 non-null  object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [19]:
# Если нужно удалить колонки
pizza = pizza.drop(['address','dateUpdated'], axis=1)

In [6]:
pizza.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [11]:
# Выводим названия колонок
pizza.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.dateSeen', 'menus.description', 'menus.name', 'name',
       'postalCode', 'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax',
       'province'],
      dtype='object')

In [18]:
pizza.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,pizzeria_name_len
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR,18
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ,16
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH,13
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI,19
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD,16

In [17]:

pizza['pizzeria_name_len'] = pizza.name.apply(lambda x:len(x) )

In [20]:
pizza[['menus.description', 'menus.name']]

,menus.description,menus.name
0,NaN,Cheese Pizza
1,NaN,Pizza Cookie
2,a saucelessampcomma double cheese pizza with a...,Pizza Blanca
3,NaN,Small Pizza
4,NaN,Pizza Sub
...,...,...
9995,NaN,Super Steak Pizza
9996,NaN,Large Cheese & 1 Item Pizza
9997,NaN,"Individual 6"" Pepperoni Stuffed Deep Dish Pizza"
9998,NaN,"Individual 6"" Cheese Stuffed Deep Dish Pizza"
9999,NaN,King Arthur's Supreme Pizza

In [28]:
# Количество уникальных значений в колонке
pizza.name.nunique()

1827

In [27]:
# Уникальные значения в колонке
pizza.name.unique()

array(['Shotgun Dans Pizza', 'Sauce Pizza Wine', 'Mios Pizzeria', ...,
       'Bella Italia', 'Wood and Fire', "Carbone's Pizzeria"],
      dtype=object)

In [30]:
pizza.province

0       AR
1       AZ
2       OH
3       MI
4       MD
        ..
9995    NY
9996    NY
9997    IL
9998    IL
9999    NV
Name: province, Length: 10000, dtype: object

In [32]:
pizzaz_by_province = pizza.groupby('province')['name'].nunique()

In [54]:
# Группируем с помощью groupby
# количество уникальных названий по регионам 
pizzaz_by_province = pizza.groupby(['province'])['name'].nunique().reset_index()

In [56]:
# pizzaz_by_province

In [40]:
# проверяем названия колонок
pizzaz_by_province.columns

Index(['province', 'name'], dtype='object')

In [41]:
# Меняем названия на те что нам нравятся
pizzaz_by_province.columns = ['province','quantity']

In [52]:
pizzaz_by_province = pizzaz_by_province.rename(columns={'name':'quantity'},
                          # inplace=True
                          )

In [57]:
pizzaz_by_province.rename(columns={'name':'quantity'},
                          inplace=True
                          )

In [59]:
# pizzaz_by_province

In [18]:
# Сортируем по полю quantity
pizzaz_by_province = pizzaz_by_province.sort_values(by=['quantity'], ascending=[False])

In [64]:
# Размечаем те регионы, где много пиццерий с помощью numpy
pizzaz_by_province['many_or_not_many_pd'] = np.where(pizzaz_by_province['quantity']> 100,1,0)

In [63]:
np.where(pizzaz_by_province['quantity']> 100,1,0)

numpy.ndarray

In [66]:
pizzaz_by_province['quantity'] > 100

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38     True
39    False
40    False
41    False
42    False
43    False
Name: quantity, dtype: bool

In [74]:
pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1

/var/folders/9z/_pdr4vys3c9_sdhkgcm_5s540000gn/T/ipykernel_33961/107677823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1

In [75]:
# Размечаем те регионы, где много пиццерий с помощью pandas

# Неправильный вариант
# pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1
# pizzaz_by_province[pizzaz_by_province['quantity'] <=100]['many_or_not_many_pd'] = 0

# Правильный вариант
pizzaz_by_province['less_10'] = 0
pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'less_10' ] = 1

In [78]:
less_10_provinces = pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'province' ].tolist()

In [79]:
less_10_provinces

['AK', 'AL', 'CT', 'DE', 'HI', 'ID', 'MS', 'MT', 'ND', 'NE', 'NJ', 'SD', 'WV']

In [85]:
# Меняем тип данных в колонке
pizzaz_by_province.less_10.astype(float)

dtype('float64')

In [21]:
# Рассчитываем сумму или среднее значение по колонке

In [96]:
pizzaz_by_province.quantity.mul(10).divide(1000).round(2).astype(str) + '%'

0     0.03%
1     0.03%
2      0.1%
3      0.5%
4     2.19%
5     0.35%
6     0.01%
7     0.07%
8     1.45%
9     0.53%
10    0.01%
11    0.15%
12    0.04%
13    1.11%
14    0.52%
15    0.12%
16    0.21%
17     0.1%
18    0.32%
19    0.79%
20    0.23%
21    0.28%
22    0.07%
23    0.01%
24    0.62%
25    0.01%
26    0.09%
27    0.01%
28    0.11%
29    0.19%
30    3.95%
31    0.82%
32    0.11%
33    0.28%
34    1.72%
35    0.26%
36    0.02%
37    0.25%
38    1.17%
39    0.15%
40    0.52%
41    0.49%
42    0.32%
43    0.06%
Name: quantity, dtype: object

In [22]:
# Применение функции к элекментам колонки

In [98]:
def qdevtwo(x):
    if int(x) % 2 == 0:
        return 1
    else:
        return 0
        
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(lambda x: qdevtwo(x))

In [102]:
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(qdevtwo)

In [103]:
pizzaz_by_province.head(3)

  province  quantity  many_or_not_many_pd  less_10  dev2
0       AK         3                    0        1     0
1       AL         3                    0        1     0
2       AR        10                    0        0     1

In [112]:
pizzaz_by_province.iloc[1,:]

province                CA
quantity               219
many_or_not_many_pd      1
dev2                     0
Name: 4, dtype: object

In [104]:
# Альтернативный вариант
dev2list = []
for i in range(pizzaz_by_province.shape[0]):
    val =  pizzaz_by_province.iloc[i,1]
    dev2list.append(qdevtwo(val))

pizzaz_by_province['dev2_loop'] = dev2list

In [251]:
pizzaz_by_province.head()

   province  quantity  many_or_not_many  many_or_not_many_pd  dev2  dev2_loop
30       NY       395                 1                    1     0          0
4        CA       219                 1                    1     0          0
34       PA       172                 1                    1     1          1
8        FL       145                 1                    1     0          0
38       TX       117                 1                    1     0          0

In [135]:
pizza.shape

(10000, 24)

# Практическое задание

In [132]:
#1. Взять датасет c пицериями и ублать лишние колонки :
to_delete = [ 'dateAdded', 'keys',
 'latitude', 'longitude','menuPageURL', 'menus.amountMax',
 'menus.amountMin', 'postalCode', 'priceRangeCurrency']

In [136]:
# pizza.drop(to_delete, axis=1)

In [ ]:
# 2. Заменить значения в колонке country c US на RU
#----- Ваш код здесь ----

In [32]:
# 3. Добавить значения в колонке menus.currency RUB, а в тех регионах, где пицерий меньше 10 добавить BTC

pizza.loc[pizza.province.isin(less_10_provinces), 'menus.currency'] = 'BTC'
pizza.loc[~pizza.province.isin(less_10_provinces), 'menus.currency'] = 'RUB'
pizza

In [35]:
pizza['menus.currency'].unique()

array(['RUB', 'BTC'], dtype=object)

In [ ]:
# 4. Рассчитайте количество пицерий в городе 'Santa Barbara' в переменную sb_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 5. Рассчитайте количество пицерий в Калифорнии (province == CA) в ca_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 6. Рассчитайте и выведите долю 'Santa Barbara' в пицериях Калифорнии
#----- Ваш код здесь ----

In [ ]:
# 7. Рассчитайте средние значения priceRangeMin и priceRangeMax по primaryCategories
#----- Ваш код здесь ----

In [ ]:
# 8. Выведите топ-5 самых популярных названий пицц по menus.name
#----- Ваш код здесь ----

In [ ]:
# 9. Выведите самый редкий ингридиент из описания menus.description (опционально)
#----- Ваш код здесь ----

In [ ]:
# 10. Создайте директорию pizza_provinces
#----- Ваш код здесь ----

In [ ]:
# 11. Сохраните в эту директорию файлы с пицериями по регионам provinces 
# В задании важно учесть условие:
#  Если регион начинается "A" то файл .xlsx, если 'N' то .csv, в остальных случаях .txt
#  Пример: 'AR.xlsx' содержит в себе все пицерии из региона 'AR'

#----- Ваш код здесь ----

In [ ]:
# 12. Напишите функцию, которая на вход будет принимать регион, а на выходе выдавать город, где больше всего пцццерий
#----- Ваш код здесь ----

In [226]:
# 13. Рассчитайте и запишите в колонку city_len количество символов в названии города 2мя способами
#----- Ваш код здесь ----